<div class="container">
    <h2>Update Book</h2>
    <form action="/books/{{book.book_id}}/update" method="post">
        <label for="bookName">Name: </label>
        <input type="text" name="bookName" value="{{book.book_name}}">
        <br>
        <label for="authorName">Author: </label>
        <input type="text" name="authorName" value="{{book.author_name}}">
        <br>
        <label for="rentPrice">Rent Price: </label>
        <input type="number" name="rentPrice" value={{book.rent_price}}>
        <br>
        <label for="stocks">Stocks Left: </label>
        <input type="number" name="stocks" value={{book.stocks_left}}>
        <br>
        <input type="submit" name="" id="" value="Update book">
        <a href="/books"><button>Cancel</button></a>
    </form>
</div>