<!-- <form action="/transactions" method="POST">

    <label for="transactionType">Transaction type: </label>
    <select name="transactionType" id="transactionType">
        <option value="issue">Issue</option>
        <option value="return">Return</option>
    </select>
    <br><br>

    <label for="book">Book: </label>
    <select name="book" id="book">
        <option value="none">None</option>
        {% for book in books %}
        <option value="{{book.book_id}}">{{book.book_name}}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="member">Member: </label>
    <select name="member" id="member">
        <option value="none">None</option>
        {% for member in members %}
        <option value="{{member.member_id}}">{{member.member_name}}</option>
        {% endfor %}
    </select>
    <br><br>
    
    <br><br>
    <input type="submit" name="" id="" value="Submit">
</form> -->


{% if transactions|length < 1%}
<h3>No transaction record yet</h3>
{% else %}
<table border=1>
    <thead>
        <th>ID</th>
        <th>BOOK NAME</th>
        <th>MEMBER</th>
        <th>TYPE OF TRANSACTION</th>
    </thead>
    {% for transaction in transactions %}
    <tr>
        <td>{{transaction.transaction_id}}</td>
        <td>{{transaction.books.book_name}}</td>
        <td>{{transaction.members.member_name}}</td>
        <td>{{transaction.transaction_type}}</td>                 
    </tr>
    {% endfor %}
</table>
{% endif %}

<br>
<br>

Perform transaction: 
<a href="/transactions/return-book"><button>Return</button></a>
<a href="/transactions/issue-book"><button>Issue</button></a>
<br>
<br>



<a href="/"><button>Homepage</button></a>
<a href="/transactions/delete"><button>Delete all transactions</button></a>